.cart-page {
  padding: 4rem;
}

.cart-page h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--primary-color);
}

.empty-cart {
  text-align: center;
  padding: 50px 0;
  min-height: 70vh;
}

.empty-cart p {
  margin-bottom: 20px;
  color: var(--text-light);
}
.empty-cart-link-cont {
  display: flex;
  width: 100%;
  justify-content: center;
}
.empty-cart-link {
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.empty-cart-link:hover {
  color: white;
  background-color: var(--primary-dark);
}
.continue-shopping {
  display: inline-block;
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 600;
  transition: background-color 0.3s;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.continue-shopping:hover {
  color: var(--primary-dark);
}

.cart-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
.cart-items {
  background-color: var(--background-light);
}

.cart-section {
  margin-bottom: 30px;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr 0.8fr;
  gap: 5px;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
  align-items: flex-start;
}

.cart-item:last-child {
  border-bottom: none;
}

.item-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.item-image img {
  height: 90px;
}

.out-of-stock-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
/* .cart-item-details{
  background-color: lightcoral;
} */
.cart-item-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 5px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
  overflow: hidden;
}

.cart-item-variation {
  font-size: 1.3rem;
  color: var(--text-light);
  margin-bottom: 10px;
}

.cart-item-price-details {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.cart-item-price {
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--primary-color);
}

.cart-item-original-price {
  font-size: 1.3rem;
  color: var(--text-light);
  text-decoration: line-through;
}

.cart-item-discount {
  background-color: var(--primary-color-light);
  color: var(--primary-color);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 500;
}

.cart-page-quantity-control {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
}

.cart-page-quantity-control button {
  background: var(--background-light);
  color: black;
  font-size: 1.5rem;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-page-quantity-control button:hover {
  background-color: var(--border-color);
}

.quantity-control button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.cart-page-quantity {
  padding: 0 15px;
  font-weight: 600;
}

.remove-item {
  background: transparent;
  color: var(--text-light);
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.remove-item:hover {
  color: var(--danger-color);
}

.item-subtotal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.out-of-stock-section .cart-item {
  opacity: 0.7;
}

.cart-summary {
  background-color: var(--background-light);
  border-radius: 8px;
  padding: 20px;
  height: fit-content;
  position: sticky;
  top: 100px;
}

.cart-summary h2 {
  font-size: 1.7rem;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
}

.cart-page-summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
  color: var(--text-light);
}
.cart-page-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 1.7rem;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid var(--border-color);
}

.checkout-button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: var(--primary-dark);
  color: white;
}

.checkout-button:disabled {
  background-color: var(--text-light);
  cursor: not-allowed;
}

.cart-actions {
  text-align: center;
}

@media (max-width: 1024px) {
  .cart-container {
    grid-template-columns: 1fr;
  }

  .cart-summary {
    position: static;
  }
}

@media (max-width: 768px) {
  .cart-page {
    padding-inline: 2rem;
  }
  .cart-item {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .item-image {
    width: 100%;
    height: 200px;
  }

  .item-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart-page-quantity-control {
    margin-bottom: 0;
  }

  .item-subtotal {
    text-align: right;
    justify-content: flex-start;
  }
}
