.checkout-page {
  padding: 4rem;
}

.checkout-page h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--primary-color);
}

.checkout-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.checkout-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.customer-info,
.delivery-details,
.payment-method {
  background-color: var(--background-light);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.checkout-section-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.checkout-section-title h2 {
  color: var(--text-color);
  text-align: start;
  font-size: 1.7rem;
}

.customer-info form,
.address-display form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-inline: 1rem;
}

.info-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  display: flex;
}

.info-label {
  font-weight: 600;
  width: 80px;
  color: var(--text-light);
  font-size: 1.4rem;
}

.info-value {
  font-size: 1.4rem;
}

.subsection-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

.subsection-header h3 {
  font-size: 1.4rem;
  color: var(--text-color);
}

.edit-shipping-address,
.edit-customer-info,
.modify-cart {
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.shipping-address,
.shipment {
  border: 1px solid var(--border-color);
  margin-bottom: 25px;
}

.address-display {
  background-color: var(--background-light);
  padding: 1rem 0.5rem;
  border-radius: 4px;
}

.address-display p {
  font-size: 1.4rem;
}

.save-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: var(--primary-dark);
}

.cancel-button {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.cancel-button:hover {
  background-color: var(--background-light);
}

.shipment-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem 0.8rem;
}

.shipment-item {
  display: flex;
  border-radius: 4px;
  height: 8rem;
}

.shipment-item-image {
  width: 90px;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.shipment-item-image img {
  width: 30px;
  object-fit: cover;
}

.shipment-item-details {
  flex: 1;
}

.shipment-item-meta {
  display: flex;
  justify-content: space-between;
}

.shipment-item-price {
  font-weight: 600;
  font-size: 1.4rem;
}

.shipment-item-quantity {
  color: var(--text-light);
  font-size: 1.4rem;
}

.order-summary {
  background-color: var(--background-light);
  border-radius: 8px;
  padding: 20px;
  height: fit-content;
  position: sticky;
  top: 100px;
}

.order-summary h2 {
  font-size: 1.7rem;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.summary-row.total {
  font-weight: 700;
  font-size: 1.7rem;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid var(--border-color);
}

.place-order-button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.place-order-button:hover {
  background-color: var(--primary-dark);
}

.place-order-button:disabled {
  background-color: var(--text-light);
  cursor: not-allowed;
}

.order-status-cont {
  height: 85vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;
}

.payment-failed {
  color: var(--primary-color);
}

.order-status-cont h2 {
  color: var(--success-color);
}

.order-status-cont p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.lottie-animation {
  width: 15rem;
  height: 15rem;
}

.continue-shopping-btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.continue-shopping-btn:hover {
  background-color: var(--primary-dark);
}

@media (max-width: 1024px) {
  .checkout-container {
    grid-template-columns: 1fr;
  }

  .order-summary {
    position: static;
  }
}

@media (max-width: 768px) {
  .checkout-page {
    padding-inline: 2rem;
  }
}

@media (max-width: 450px) {
  .shipment-item-meta {
    flex-direction: column;
  }
}